.Nav-Bar {
  font-family: "Libre Franklin", sans-serif;
  font-size: 10px;
  background-color: #f3f2f2;
  backdrop-filter: blur(18px);
  /* background-color: transparent;
  transition: height 0.3s ease-in-out; */
  align-content: flex-end;
}
